
	<maintitle></maintitle>
	
	<!-- <div class="tile-area tile-area-{{fgcolor}} bg-darkCyan"> -->
    <!-- <div class="grid fluid"> -->
		
		<div class="tile-group double" >
	
			<a class="tile double bg-blue">
				<div class="tile-content icon" style="top: -15pt">
					<span class="icon-cart"></span>
				</div>
				<div class="brand">
					<h2 class="fg-white text-center">Compras</h2>
				</div>
			</a> <a class="tile bg-blue" href="#/request">
				<div class="tile-content icon" style="top: -10pt">
					<span class="icon-list"></span>
				</div>
				<div class="brand bg-white">
					<span class="label text-center no-margin fg-dark"
						style="padding-top: 7px">Requisi&ccedil;&atilde;o</span>
				</div>
			</a> <a class="tile bg-blue">
				<div class="tile-content icon" style="top: -10pt">
					<span class="icon-spin"></span>
				</div>
				<div class="brand bg-white">
					<span class="label text-center fg-dark">Material</span>
				</div>
			</a> <a class="tile half bg-blue">
				<div class="tile-content icon">
					<span class="icon-camera"></span>
				</div>
			</a> <a class="tile half bg-blue">
				<div class="tile-content icon">
					<span class="icon-share-2"></span>
				</div>
			</a> <a class="tile half double bg-blue" href="#/create-quotation">
				<div class="tile-content">
					<h2>
						<i class="icon-share-3 fg-white" style="padding-left: 10px"></i><span
							class="fg-white padding10">Cota&ccedil;&atilde;o</span>
					</h2>
				</div>
			</a> <a class="tile half double bg-blue">
				<div class="tile-content">
					<h2>
						<i class="icon-thumbs-down fg-white" style="padding-left: 10px"></i><span
							class="fg-white padding10">Devolu&ccedil;&atilde;o</span>
					</h2>
				</div>
			</a>
	
		</div>
	
		<div class="tile-group double" >
	
			<a class="tile double bg-lime">
				<div class="tile-content icon" style="top: -15pt">
					<span class="icon-tag"></span>
				</div>
				<div class="brand">
					<h2 class="fg-white padding10 text-center">Vendas</h2>
				</div>
			</a> <a class="tile bg-lime">
				<div class="tile-content icon" style="top: -10pt">
					<span class="icon-list"></span>
				</div>
				<div class="brand bg-white">
					<span class="label text-center no-margin fg-dark"
						style="padding-top: 7px">Pedido Venda</span>
				</div>
			</a>
	
			<a class="tile bg-lime">
	              <div class="tile-content icon" style="top:-10pt">
	                      <span class="icon-spin"></span>
	              </div>
	              <div class="brand bg-white">
	                      <span class="label text-center fg-dark">Acompanhamento</span>
	              </div>
	      </a>
	
			<a class="tile half bg-lime">
				<div class="tile-content icon">
					<span class="icon-flag-2"></span>
				</div>
			</a> <a class="tile half bg-lime">
				<div class="tile-content icon">
					<span class="icon-attachment"></span>
				</div>
			</a> <a class="tile half bg-lime">
				<div class="tile-content icon">
					<span class="icon-newspaper"></span>
				</div>
			</a> <a class="tile half bg-lime">
				<div class="tile-content icon">
					<span class="icon-link"></span>
				</div>
			</a> <a class="tile half double bg-lime">
				<div class="tile-content">
					<h2>
						<i class="icon-file-pdf fg-white" style="padding-left: 10px"></i><span
							class="fg-white padding10">Or&ccedil;amento</span>
					</h2>
				</div>
			</a> <a class="tile half double bg-lime">
				<div class="tile-content">
					<h2>
						<i class="icon-phone fg-white" style="padding-left: 10px"></i><span
							class="fg-white padding10">Recados</span>
					</h2>
				</div>
			</a>
	
		</div>
	<!-- </div> -->
